<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mmrx.yunliao" >

    <!-- 短信的相关权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 获取查看系统task栈的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 高德地图api -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".YunLiaoAppliaction"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup" >
        <activity
            android:name=".view.impl.LoadingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.impl.YunLiaoMainActivity"
            android:label="@string/title_activity_yun_liao_main"
            android:launchMode="singleTask"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.impl.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!-- 注册短信和彩信广播监听器以及短信后台服务 android4.4及其以上版本 需要 -->
        <!-- 短信监听 -->
        <receiver
            android:name=".SmsReceiver.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS" >
            <intent-filter>

                <!-- 短信抵达对方设备监听 -->
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <!-- 新短信抵达监听 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <!-- 系统重启 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- 彩信到达监听 -->
        <receiver
            android:name=".SmsReceiver.EmptyMmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH" >
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <!-- 短信 -->
        <service
            android:name=".SmsReceiver.SmsService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE" >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <!-- 通知栏点击事件监听 -->
        <receiver
            android:name=".SmsReceiver.SmsNotificationClickReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":push" >
        </receiver>
        <!-- 负责获取地理位置的service -->
        <service
            android:name=".SmsReceiver.LocationService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- 高德api需要设置的service -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- 布局自动匹配,默认屏幕尺寸设置 -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <!-- 高德地图的app key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="35da90e1e806d181503fba2fc579ee84" />

        <receiver
            android:name=".SmsReceiver.MessageStatusReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name=".SmsReceiver.MessageStatusService"
            android:exported="false" >
        </service>
    </application>

</manifest>
